@use '../abstracts';

footer{
    position:absolute;
    color: abstracts.$color-neutral-dark;
    bottom: 0;
    width:100%;
    height: abstracts.$footer-height;
  }
  .footer-items{
    display: grid;
    justify-content:center;
    width: 80%;
    margin: 0 auto;
    padding: 2em 1em 1em;
    border-top: 1px solid abstracts.$color-neutral-dark;
    grid-template-columns: repeat(3,1fr);

      & li{
        padding: 0.25em;
      }

      & a{
        color:abstracts.$color-neutral-dark;
        &:hover{
          color: abstracts.$color-primary;
        }
      }
  }
  .quick-links,.account-links,.about-links{
    grid-row:1;
  }
 
  
 

  .media-links{
    display:flex;
    justify-content: space-around;
    padding: 1em 0;
    width: 80%;

    & a{
      font-size: 20px;
      color: abstracts.$color-primary;
      
      &:hover{
        color: abstracts.$color-primary-dark;
      }
    }
  }
  .copyright-text{
    grid-row:2;
    grid-column: 1 / span 3;
    justify-self: center;
  }