@use '../abstracts';

.nav-container{
    position: fixed;
    display:grid;
    align-items: center;
    top:0;
    z-index: 1;
    padding: 0 1em;
    width: 100%;
    height: abstracts.$nav-height;
    background-color: abstracts.$color-neutral;
  }
  nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 70rem;
    padding: 0 1rem;
    margin: 0 auto;
  }
  .nav-links{
    display:none;
    align-self: center;
    
  }
  .nav-link{
    position: relative;
    padding: 1rem;
    margin: 0 0.25rem;
    font-family: abstracts.$ff-secondary;
    color:abstracts.$color-dark;
  }
  
  .active-nav{
    &::after{
      position:absolute;
      content: "";
      bottom:0;
      left:0;
      width: 100%;
      height: 3px;
      background: abstracts.$color-primary-dark;
    }
  }
  .cart-link{
    position: relative;
  }
  .cart-icon-amount{
    position: absolute;
    display: grid;
    place-items: center;
    bottom: 5px;
    right: 5px;
    height: 24px;
    width: 24px;
    border-radius: 12px;
    color: abstracts.$color-neutral;
    background-color: abstracts.$color-primary;
  }
  
  .nav-link:hover, .nav-icon:hover{
    color: abstracts.$color-primary-light;
  }
  .nav-icons{
    display: flex;
    padding: 1em;
    justify-self: end;
    align-self: end;
  }
  .nav-icon{
    font-size: 25px;
    color: abstracts.$color-dark;
    cursor:pointer;
  }
  .nav-icon-loggedin{
    color: abstracts.$color-secondary;
      &:hover{
        color: abstracts.$color-secondary-dark;
      }
  }
  
  .nav-dropdown{
    position: relative;
    padding: 1em;
  }

  .search-link{
    display: none;
  }

  @media screen and (min-width: 900px){
    .nav-links{
      display: flex;
    }

    .search-link{
      display: block;
    }
    
    .nav-icons{
      display: flex;
      justify-content: space-around;
      align-items:center;
    }
  }

  //Menu toggle
  .sidebar-toggle{
    font-size: 25px;
    cursor: pointer;
    justify-self: left;
  }
  @media screen and (min-width: 900px){
    .sidebar-toggle{
      display:none;
    }
  }

  //Logo
  .logo, .sidebar-toggle{
    &:hover{
      color: abstracts.$color-dark;
    }

  }
  
  .logo{
    font-size: 25px;
    font-family: abstracts.$ff-secondary;
    color: abstracts.$color-dark; 
    text-align: center;
    justify-self: left;
  }

  //Hero
  .hero{
    height: abstracts.$hero-height;
  }