@use "../abstracts";

*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
image {
    display: block;
    max-width: 100%;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

html {
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    position: relative;
    padding-top: abstracts.$nav-height;
    padding-bottom: abstracts.$footer-height;
}

p {
    line-height: 1.6rem;
}

button {
    display: block;
    margin: 0 auto;
}
/*Input */
input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"] {
    padding: 0.75rem;
}

section {
    padding: 4em 0;
    min-height: 300px;
}

.section-container {
    width: 90%;
    margin: 0 auto;
}
