@use '../abstracts';

/*
Primary font: Lato
Secondary font: Lora
*/
h1,h2,h3{
  font-family: abstracts.$ff-secondary;
  text-transform: capitalize;
}


h2{
  font-size: 30px;
  margin-bottom: 1rem;
  text-align: center;
}

h3{
  font-size: 24px;
}

main{
  font-family: abstracts.$ff-primary;
}

p, li, label{
  font-weight: 300;
  font-size: 18px;
}

button,.btn{
  font-family: abstracts.$ff-primary;
}

footer{
  font-family: abstracts.$ff-primary;
}

input{
  font-family: abstracts.$ff-primary;
  font-size: 16px;
}

@media screen and (min-width: 800px){
  h1{
    font-size: 38px;
  }
  h2{
    font-size: 36px;
  }
  h3{
    font-size: 24px;
  }
  // p,li{
  //   font-size: 18px;
  // }
}