@use '../abstracts';

.invalid-input{
    border: 2px solid abstracts.$color-error;
}

.invalid-input-dark{
    border: 2px solid darken(abstracts.$color-error, 20%);
}

.page-title{
    padding: 4rem 4rem 3rem 4rem;
    text-align: center;
}

.title-box{
    text-align: center;
    padding: 1rem 0 2rem 0;
}

.page-description{
    text-align: center;
    margin: 0 auto 2rem auto;
    width: 80%;
}

//For centering main page content (especially messages and the loading spinner).
.content-container{
    display: grid;
    place-items: center;
    min-height: calc(100vh - abstracts.$nav-height);
}

// Images
.img-container{
    position: relative;
    width: 100%;

      & img{
        @include abstracts.fit-image;
      }
  }

//Table format
.search-container{
    overflow-x: auto;
    width: 90%;
    margin: 0 auto;
    border: 1px solid abstracts.$color-neutral-gray;

    .search-table{
        padding: 2rem 1rem;
        width: 80%;
        margin: 0 auto;
    
        & th{
            padding: 0.5rem 1rem;
            text-align: start;
        }
    
        & td{
            padding: 0.5rem 1rem;
        }
    }
}

//Tags
.tag{
    display: inline-block;
    padding: 0.25rem 0.50rem;
    border-radius: 0.50rem;

    &-admin, &-delivered{
        background-color: abstracts.$color-secondary-light;
    }

    &-user, &-paid{
        background-color: abstracts.$color-primary-light;
    }

    &-not{
        background-color: abstracts.$color-error;
    }
}