@use '../abstracts';


.cart, .empty-cart{
  display: grid;
  place-items: center;
  padding: 2rem;
}
.cart-title{
  @include abstracts.page-title;
}

.empty-cart{
  & button{
    margin-top: 5rem;
  }
}

.cart-container{
  display: grid;
  justify-items: center;
}

.cart-total{
  background-color: lighten(abstracts.$color-secondary-light, 20%);
  padding: 2rem 4rem;
  margin-top: 2rem;
  align-self: start;
}
.shipping-info-bar{
  background-color: abstracts.$color-primary-light;
  text-align: center;
  padding: 1rem;
  
  & p{
    font-size: 20px;
    font-family: abstracts.$ff-secondary;
    font-weight: 600;
  }
}

@media screen and (min-width: 900px){
  .cart{
    display: grid;
    grid-template-columns: 3fr 1fr;
  }
  .cart-container{
    grid-column: 1;
  }
  .cart-payment-section{
    grid-column: 2;
    align-self: start;
  }

}

  