@use '../abstracts';

.edit-product-title{
    @include abstracts.page-title;
}
.edit-product-form{
    @include abstracts.form-format;

    width: 80%;
    max-width: 400px;
    margin: 0 auto 5rem auto;

    & select {
        @include abstracts.format-select;
    }

    & textarea {
        resize: none;
        width: 100%;
        font-family: abstracts.$ff-primary;
        font-size: 16px;
        padding: 1rem;
    }
    
    & input[type=number]{
        width: auto;
        padding: 0.75rem;
    }
    & #image{
        display: none;
    }
    
    & .price-wrapper{
        position: relative;

        &::before{
            position: absolute;
            content: "$";
            top: 0;
            left:-15px;
        }
        
    }
}

// Image input
.image-input-box{
    position: relative;
    display: flex;
    padding-right: 60px;
    width: 100%;

    & label{
        padding: 0.50rem;
    }

    & p{
        padding: 0.50rem;
        border: 1px solid abstracts.$color-neutral-dark;
        width: 100%;
    }
}

.image-icon{
    cursor: pointer;
    font-size: 20px;

        &:hover{
            color: abstracts.$color-primary;
        }
}