@use '../abstracts';

//Login & Sign up forms

//Login
.login-container{
  display: grid;
  place-items: center;
  width: 80%;
  max-width: 400px;
  margin: 6rem auto 0 auto;
  padding: 4rem 1.5rem;
  background-color: abstracts.$color-primary-light;
  box-shadow: 0 2px 7px -5px rgb(0 0 0 / 90%);

  & h1 {
    margin-bottom: 3rem;
  }

  & p{
    text-align: center;

    & a {
      color: darken(abstracts.$color-primary-dark, 4%);
      
      &:hover{
        color: abstracts.$color-primary;
      }
    }
  }

  & .message{
    padding: 0.50rem 0;
    width: 100%;
    color: darken(abstracts.$color-error,30%);
  }

  & button{
    margin: 2rem auto;
    width: 70%;
    font-size: 18px;
  }

}

.login-form{
  @include abstracts.form-format;
  width: 100%;
  & .input-control{
    
    & input{
      font-size: 18px;

      &::placeholder{
        text-align: center;
        text-transform: lowercase;
      }
    }
  }
}

//Demo user
.demo-login-link{
  color: darken(abstracts.$color-primary-dark, 4%);
  text-decoration: underline;
  cursor: pointer;

  &:hover{
    color: abstracts.$color-primary;
  }
}

// Sign up CSS specifications
.signup-container{
  position: relative;
  overflow: hidden;
  box-shadow: 0 2px 7px -5px rgb(0 0 0 / 90%);
  background-color: transparent;

  .signup-blob{
    position: absolute;
    top: -150px;
    left: -50%;
    z-index: -1;
}
}
