@use '../abstracts';


.order-success-title{
    @include abstracts.page-title;
}

.order-success-info{
    display: grid;
    place-items: center;
    width: 80%;
    margin: 0 auto;
    text-align: center;

    & p:first-child{
        margin-bottom: 1rem;
    }
}