@use '../abstracts';

.payment-title{
    @include abstracts.page-title;
}

.payment-form{

    & .input-control{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto 2rem auto;
    }
    & input[type=radio]{
        margin-right: 1rem;
    }
}