@use '../abstracts';

.account-banner{
  position: relative;
  width: 100%;
  padding: 2rem;
  background: abstracts.$color-primary-light;
  min-height: 100px;

    & .logout-btn{
      position: absolute;
      right:1rem;
      top:0.50rem;
    }
}

.admin-bar{
  margin-top: 2rem;
  border-top: solid 2px black;

  & .admin-links{
    display: flex;
    flex-wrap: wrap;
    max-width: 300px;
  }
}

.shipping-info{
  padding: 1rem 0;

  & h4{
    font-size: 18px;
    margin: 0.5rem 0 0.25rem 0;
  }
}

.account-section{
  // width: 80%;
  // margin: 0 auto;

  & .title-box-account{
    display: flex;
    align-items: center;

    & .account-icon{
      font-size: 30px;
      margin-right: 1rem;
    }
  }

  .account-edit-btn{
    margin: 1rem 0;
  }

  @include abstracts.respond-to('small'){
    & h2{
      text-align: start;
    }
  }
}
.wishlist-container{
  width: 80%;
  margin: 0 auto;
}
.profile-wishlist{
  display: grid;
  padding: 1rem;

  @include abstracts.respond-to('small'){
    grid-template-columns: repeat(2, minmax(200px, 1fr));
  }

  @include abstracts.respond-to('medium'){
    grid-template-columns: repeat(3, minmax(200px, 1fr));
  }
}

.wishlist-btn{
  display: block;
  width: 150px;
  text-align: center;
  margin: 0 auto;
}


 