@use '../abstracts';


// Profile Breadcrumbs
.product-breadcrumbs {
    background-color: abstracts.$color-secondary-light;
    width: 100%;
}

.product-profile{
    display: grid;
    position: relative;
    width: 80%;
    margin: 0 auto;

        h2{
            font-size: 28px;
        }
        
        &-info{
            width: 80%;
            margin: 0 auto;
            text-align: center;
            
            & p{
                padding: 1rem 0;
            } 

            & span{
                font-weight: bold;
            }
        }
        
}
.title-box{
    text-align: center;
    padding: 1rem 0 2rem 0;
}

.profile-ingredients{
    & ul{
        display: flex;
        justify-content: center;
        padding: 1rem 0;

        & li{
            margin-right: 0.40rem;
            &:first-child{
                text-transform: capitalize;
            }
            &:not(:last-child){
                &::after{
                    content: ",";
                }  
            }  
        }
    }
}

@media screen and (min-width: 800px){
    .product-profile{
        justify-items: center;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 3fr;

        .img-container{
            grid-column: 1;
            grid-row: 1 / span 2;
            align-self: center;
            max-height: 400px;
        }

        &-info{
            grid-column: 2;
            grid-row: 2;
        }
    }

    .title-box{
        grid-column: 2;
        grid-row: 1;
    }
}

.product-quantity-input{
    display: flex;
    align-items: center;
    justify-content: center;
    
    & input{
        width: 100px;
        margin-right: 1rem;
        padding: 0.5rem;
        text-align: center;
    }
}

.product-quantity-select{
    width: 100px;
    height: 50px;
    padding: 0.5rem;
    font-family: abstracts.$ff-primary;
    font-size: 16px;
}

.product-btn-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin: 0 auto;

    & button{
        margin: 0;
        margin-left: 1rem;
    }
}
.max-cart-message{
    color: abstracts.$color-primary;
    font-weight: 500;
}

.review-section{
    display: grid;
    justify-items: center;
    padding: 2rem 1rem;

    h2{
        margin-bottom: 1rem;
    }
}
.average-rating{
    display:flex;
    align-items: center;
    justify-content: center;

    & span {
        margin-right: 1rem;
    }

    & .star-rating{
        color: abstracts.$color-primary-light;
    }
}

.product-review-list{
    margin-top: 1rem;
}

.product-review{
    border-radius: 10px;
    padding: 2rem 3rem;
    margin-bottom: 2rem;
    max-width: 30rem;

    & .star-rating{
        color: abstracts.$color-primary-light;
    }
    &-top{
        background-color: abstracts.$color-secondary-light;

        & .star-rating{
            color: abstracts.$color-secondary-dark;
        }
    }
}
.product-not-reviewed{
    padding: 2rem;
}
.review-info{
    display: flex;

    & .user-thumbnail {
        width: 60px;
        height: 60px;
        border-radius: 100%;
        overflow: hidden;
        margin-right: 1rem;

        & img{
            @include abstracts.fit-image;
        }
    }

    & .review-sub-info {
        display: flex;
        align-items: center;
    }

    & .review-date {
        font-size: 16px;
        margin-left: 0.75rem;
        color: lighten(abstracts.$color-neutral-dark, 10%);

        &::before{
            content: "•";
            margin-right: 0.75rem;
        }
    }
   
}

.brewing-instruction-section{
    background-color: abstracts.$color-primary-light;
    min-height: 350px;

    & p{
        max-width: 60ch;
        margin: 0 auto;
    }
}

 //Star rating
.star-rating-container{
    padding: 1rem 0;
}
 .star-rating{
    display: flex;

      & li{
        padding: 0 0.25rem;
      }
  }

  //Caffeine rating

  .caffeine-rating{
    display: grid;
    justify-items: center;
    padding: 1rem;
    text-align: center;
    

    & div{
      display: flex;
      margin-top: 0.25rem;
      width: 55px;
      justify-content: space-between;
      color: abstracts.$color-primary;
    }
  }

  //Wishlist button

  .add-wishlist-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 200px;
    height: 50px;
    
    & span{
        margin-right: 1rem;
        color: abstracts.$color-primary;
    }

  }

  .wishlisted{
      background-color: abstracts.$color-primary-light;
      cursor: default;
  }
  

  // Customer review form
  .customer-review-form{
    @include abstracts.form-format;
    background-color: abstracts.$color-primary-light;
    width: 80%;
    padding: 2rem 0.5rem;

    & h3{
        margin-bottom: 2rem;
        text-align: center;
    }
    & select{
        padding: 0.75rem;
        font-size: 16px;
    }
    & textarea{
        resize: none;
        width: 100%;
        font-size: 16px;
        padding: 1rem;
        font-family: abstracts.$ff-primary;
    }
  }

