@use '../abstracts';

.account-banner{
  position: fixed;
  width: 100%;
  padding: 2rem;
  background: abstracts.$color-primary-light;
  min-height: 100px;

    & .logout-btn{
      position: absolute;
      right:1rem;
      top:0.50rem;
    }
}

.account-title{
  @include abstracts.page-title;
  padding-top: 150px;
}

.shipping-info{
  padding: 1rem 0;

  & h4{
    font-size: 18px;
    margin: 0.5rem 0 0.25rem 0;
  }
}

.account-section{
  & .title-box-account{
    display: flex;
    align-items: center;

    & .account-edit-icon{
      font-size: 30px;
      margin-left: 1rem;
      cursor: pointer;

      &:hover{
        color: abstracts.$color-primary-light;
      }
    }

    & .account-icon{
      font-size: 30px;
      margin-right: 1rem;
    }
  }
}



.profile-wishlist{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 1rem 0;
}
.wishlist-item{
  padding: 1rem;
  text-align: center;

  & img {
    @include abstracts.fit-image;
    width: 200px;
    height: 200px;
  }
}

//Orders
.order-card{
  padding: 1rem;
}


@media screen and (min-width: 600px){
  .account-section h2{
    text-align: start;
  }
}

 