@use '../abstracts';

.shop-list{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px, 1fr));
    justify-items: center;
    padding: 1em;
    
  }
  
  .shop-hero{
      &-title{
        max-width: 20ch;
        margin-bottom: 0.5rem;
      }

      & img{
        @include abstracts.fit-image;
        height: 300px;
      }

      &-info{
        width: 80%;
        margin: 0 auto;
        padding: 3rem;

        & p{
          font-size: 18px;
        }
      }
  }

  @media screen and (min-width: 600px){
    .shop-hero{
      display: grid;
      grid-template-columns: 3fr 2fr;
      place-items:center;

      & img{
        grid-column: 2;
        grid-row: 1;
      }

      &-info{
        grid-column: 1;
        grid-row: 1;
        padding: 0;
      }
      // height: abstracts.$hero-height;
    }
  }
  
  .filter-bar{
    padding: 2em;
    height: 200px;
  }
  .tea-filter{
    margin: 0 auto;
    width: 300px;

    & label{
      margin-right: 10px;
    }

    & select{
      font-family: abstracts.$ff-primary;
      font-size: 16px;
      color: abstracts.$color-neutral-dark;
      padding: 0.75em;
    }
  }
 
  .shop-btns{
    display:flex;
    flex-wrap: wrap;
    width: 80%;
    margin: 0 auto;
  }

  // Pagination
  .pagination{
    display: flex;
    justify-content: end;
  }

  .page-indices{
    display: flex;
    padding: 1rem;

    & li{
      padding: 0.25rem 0.50rem;
      margin: 0 0.05rem;
      font-weight: 500;
      cursor: pointer;

      &:hover{
        background-color: abstracts.$color-primary-light;
      }
    }
  }
  .index-link{
    color: abstracts.$color-neutral-dark;
  }
  .active-index{
    background-color: abstracts.$color-primary-light;
  }

  .active-page-btn{
    text-decoration: underline;
  }