$color-primary: rgb(128, 128, 3);
$color-primary-light: #C5C56F;
$color-primary-dark: rgb(95, 95, 5);
$color-secondary-dark: #E59705;
$color-secondary: #FFA600;
$color-secondary-light: #F5C160;
$color-neutral: #ffffff;
$color-neutral-gray: rgb(175, 173, 173);
$color-neutral-gray-light: #efefefef;
$color-neutral-gray-spinner: #dddddd;
$color-neutral-dark: rgb(56, 53, 53);
$color-dark-transparent: rgb(0,0,0,0.50);
$color-light-transparent: rgb(0,0,0,0.10);
$color-dark:rgb(26, 26, 26);
$color-error: rgb(240, 87, 87);