$ff-primary: 'Lato', sans-serif;
$ff-secondary: 'Lora', serif;
$ff-accent: 'Kavoon', cursive;


$box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.356);

$footer-height: 200px;
$nav-height: 100px;
$hero-height: 400px;


$btn-transition: all 300ms ease-in;
