@use '../abstracts';

.accordion-item{
    width:100%;
    // font-family: abstracts.$ff-secondary;
  }
  .title-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    color: abstracts.$color-primary;
    border-bottom: 1px solid abstracts.$color-primary;
  }
  .accordion-content{
    display:none;
    // font-family: abstracts.$ff-primary;
    margin-left: 20px;
  }
  .accordion-content li{
    padding: 2px;
    cursor: pointer;
    text-transform: capitalize;
  }
  .accordion-content li:hover{
    color: abstracts.$color-primary;
  }
  
  .accordion-content.show{
    display:block;
  }
  .accordion-btn{
    cursor: pointer;
  }