@use '../abstracts';

.alert-container{
    position:fixed;
    display:grid;
    place-items:center;
    top:0;
    height: 100px;
    transform: translateY(-100%);
    background-color: abstracts.$color-secondary;
    width: 100%;
    z-index: 2;
    transition: all 500ms ease-in;
  }
  .alert-container.show{
    transform: translateY(0%);
  }
  .alert{
    display: flex;
    justify-content: center;
    align-items: center;
    color: abstracts.$color-neutral;
    width: 80%;
    padding: 1em;
    text-align: center;
    
    font-family: abstracts.$ff-primary;
    
    &-icon{
      display:grid;
      margin-right: 1rem;
      font-size: 28px;
    }

    p{
      font-size: 20px;
      font-weight: 500;
    }
  }

  .alert-close-icon{
    position: absolute;
    top: 0;
    right:0;
    font-size: 28px;
    cursor: pointer;
    color: abstracts.$color-neutral;
    margin: 1rem;
  }
