@use '../abstracts';

.brewing-steps{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.brewing-step{
    padding: 1rem;
    min-width: 200px;
    margin: 1rem;
    position: relative;
    display: grid;
    justify-items: center;
    align-content: center;

    width: 200px;
    height: 200px;
 
    border-radius: 50%;
    
    background-color: lighten(abstracts.$color-primary-light, 10%);

    & .brewing-icon{
        font-size: 45px;
    }
    & .brewing-text{
        max-width: 16ch;
        text-align: center;
    }
}

.step-num{
    position: absolute;
    top: 0;
    left: 25px;
    font-family: abstracts.$ff-secondary;
    font-size: 40px;
    font-weight: bold;
    color: abstracts.$color-primary-dark;
}