@use '../abstracts';

 .breadcrumbs{
    display: flex;
    text-transform: capitalize;
    padding: 1em;

    & li{
      &:not(:last-child){
        margin-right: 0.40rem;
        &::after{
          content: " /";
        }
      }

      &:last-child{
        font-weight: 600;
      }

      &:hover{
        cursor: pointer;
        color: lighten(abstracts.$color-neutral-dark, 15%);
      }
    }
  }
