@use '../abstracts';

.brewing-steps{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.brewing-step{
    padding: 1rem;
    min-width: 200px;
    margin: 1rem;
    position: relative;
    display: grid;
    justify-items: center;
    align-content: center;

    width: 200px;
    height: 200px;
 
    border-radius: 50%;
    
    background-color: lighten(abstracts.$color-primary-light, 10%);

    & .brewing-icon{
        font-size: 45px;
        z-index: 1;

    }

    & .brewing-text{
        max-width: 16ch;
        z-index: 1;
        text-align: center;
    }
}