@use '../abstracts';

.btn{
    font-size: 16px;
    color: abstracts.$color-neutral-dark;
    background-color: abstracts.$color-neutral-gray-light;
    border:none;
    padding: 0.5em 1em;
    cursor: pointer;
    margin: 1rem auto;
    transition: abstracts.$btn-transition;

      &:hover{
        background-color: abstracts.$color-primary-light;
      }
  }
  
  @mixin btn-base($text-color, $bg-color, $hover-color){
    color: $text-color;
    background-color: $bg-color;
    font-size: 16px;
    border:none;
    padding: 0.5em 1em;
    cursor: pointer;
    margin: 1em auto;
    transition: abstracts.$btn-transition;

      &:hover{
        background-color: $hover-color;
      }
  }
  .btn-primary{
    background-color: abstracts.$color-primary;
    color: abstracts.$color-neutral;
      &:hover{
        background-color: abstracts.$color-primary-dark;
      }
  }
  .btn-primary-orange{
    background-color: abstracts.$color-secondary;
    color: abstracts.$color-neutral;
      &:hover{
        background-color: abstracts.$color-secondary-dark;
      }
  }
  
  .btn-secondary{
    @include btn-base(abstracts.$color-neutral, abstracts.$color-secondary, abstracts.$color-secondary-dark);
  }
