@use '../abstracts';

.cart-card{
    position: relative;
    padding: 1rem;
    display:grid;
    max-width: 300px;

    & .img-container{
      @include abstracts.fit-image;
      height: 200px;
    }

    &-description{
      padding: 1em;
      width: 100%;
      min-width: 200px;

      & h3{
        margin-bottom: 1rem;
      }
      & ul{
        & li{
          margin-bottom: 0.50rem;
        }   
      }
    }

    &-total{
      display: flex;
      width: 100%;
      justify-content: flex-end;
    }

    @include abstracts.respond-to('small'){
      grid-template-columns: 1fr 2fr;
      max-width: none;

      & .img-container{
        grid-column: 1;
        width: 200px;
        align-self: center;
      }
      &-description{
        grid-column: 2;
      }
    }
}
.quantity-select{
  margin-top: 1rem;
  
  & select{
    margin-left: 0.50rem;
    padding: 0.25rem;
    border: 2px solid abstracts.$color-neutral-dark;
  }
}

.item-amount-info{
  display: flex;
  
  & p {
    margin: 0 1rem;
    font-weight: 600;
  }

  & span{
    font-size: 20px;
    text-align: center;
    background-color: abstracts.$color-primary-light;
    padding: 0.25rem;
    height: 2rem;
    width: 2rem;
    border-radius: 1rem;
    cursor: pointer;

    &:hover{
      background-color: lighten(abstracts.$color-primary-light, 15%);
    }
  }
}

.remove-item-btn{
  display: flex;
  align-items: flex-end;
  padding: 0.50rem 0;
  cursor: pointer;
  
   & span{
     margin-left: 0.25rem;
   }

   &:hover{
     color: abstracts.$color-primary;
   }
  
}