@use '../abstracts';

.checkout-steps{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: abstracts.$color-primary-light;
    padding: 1rem;

    & li {
        margin: 0.50rem 1rem 0.50rem 0;
    }

    & a {
        color: abstracts.$color-neutral-dark;

        &:hover{
            color:abstracts.$color-primary-dark;
        }
    }

    & .active-step{
        font-weight: 600;
    }
}