@use '../abstracts';

/*Custom select*/
.custom-select{
    position: relative;
    width: 100%;
    background-color: abstracts.$color-neutral;
}
.select-selected{
  background-color: abstracts.$color-neutral;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  padding: 0.75rem 2rem 0.75rem 0.75rem;

    &:after{
        position: absolute;
        content: "";
        top:18px;
        right: 10px;
        width:0;
        height:0;
        border: 6px solid transparent;
        border-color: abstracts.$color-neutral-dark transparent transparent transparent;
    }
}

.select-selected.select-arrow-active:after{
    border-color: transparent transparent abstracts.$color-neutral-dark transparent;
    top:11px;
}
.select-items{
  position:absolute;
  top: 100%;
  left:0;
  right:0;
  z-index: 2;
  background-color: abstracts.$color-neutral;
  box-shadow: abstracts.$box-shadow;
}

.select-hide{
    display: none;
}
.select-item{
  padding: 0.75rem;
}
.select-item, .select-selected{
  background-color: abstracts.$color-neutral;
    color: abstracts.$color-neutral-dark;
    border: 1px solid transparent;
    border-color: transparent transparent abstracts.$color-light-transparent transparent;
    line-height: 1.4rem;
    cursor: pointer;
}

.select-items div:hover, .same-as-selected{
  background-color: lighten(abstracts.$color-primary-light,20%);
}