
@use '../abstracts';

.message{
    padding: 1em;
    text-align: center;
    font-size: 18px;

    &-default{
      color: abstracts.$color-dark;
    }

    &-error{
      color: abstracts.$color-error; 
    }

    &-success{
      color: abstracts.$color-primary-light;
    }
}