@use '../abstracts';

.pagination{
    display: flex;
    justify-content: end;
  }

  .page-indices{
    display: flex;
    padding: 1rem;

    & li{
      padding: 0.25rem 0.50rem;
      margin: 0 0.05rem;
      font-weight: 500;
      cursor: pointer;

      &:hover{
        background-color: abstracts.$color-primary-light;
      }
    }
  }
  .index-link{
    color: abstracts.$color-neutral-dark;
  }
  .active-index{
    background-color: abstracts.$color-primary-light;
  }

  .active-page-btn{
    text-decoration: underline;
  }