@use "../abstracts";

//Star rating
.star-rating-container {
    padding: 1rem 0;
    display: flex;
    align-items: center;

    & p {
        margin-left: 0.5rem;
    }
}
.star-rating {
    display: flex;

    & li {
        padding: 0 0.25rem;
    }
}

//Caffeine rating

.caffeine-rating {
    display: grid;
    justify-items: center;
    padding: 1rem;
    text-align: center;

    & div {
        display: flex;
        margin-top: 0.25rem;
        width: 55px;
        justify-content: space-between;
        color: abstracts.$color-primary;
    }
}
