@use '../abstracts';

.search-modal{
    position: relative;
    background-color: abstracts.$color-neutral;
    width: 80%;
    max-width: 60rem;
    padding: 4rem;
    height: 500px;

    &-container{
        position: fixed;
        display: grid;
        place-items: center;
        top:0;
        left:0;
        z-index: 2;
        height: 100%;
        width: 100%;
        background-color: transparent;
    }

    &-overlay{
        @include abstracts.overlay;
    }

    & .input-control{

        & input{
            width: 80%;
        }
        & .search-btn-icon{
            margin-right: 1rem;
        }
    }
}

.modal-pagination{
    position: absolute;
    bottom:0;
    left:0;
    width: 100%;
     & .pagination{
         justify-content: center;
         padding: 1rem;
     }
}

.search-results{
    font-family: abstracts.$ff-primary;

    & .search-result{
        padding: 0.25rem;
        text-transform: capitalize;

        & a{
            color: abstracts.$color-neutral-dark;

            &:hover{
                color: abstracts.$color-primary;
            }
        }
        
    }
}
