@use '../abstracts';

.search-bar{
    display: grid;
    place-items: center;
    
    & .search-bar-form{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1rem;
        width: 100%;

        & .search-icon {
            font-size: 25px;
            cursor: pointer;

            &:hover{
                color: abstracts.$color-primary;
            }
        }
        & input{
            margin: 0 1rem;
            width: 80%;
            max-width: 400px;
        }
    }

    & .search-selects{
        padding: 1rem;
        display: flex;

        & select{
            @include abstracts.format-select;
        }

        & select:first-child{
            margin-right: 1rem;
        }
    }
}