@use '../abstracts'; 

.slider{
    position:relative;
    background-color: abstracts.$color-dark;
  }
  
  
  .slide-dots{
    display:flex;
    position: absolute;
    bottom:0;
    width:100%;
    justify-content: center;
    color: abstracts.$color-neutral;

      & li{
        padding: 0.25em;
        cursor: pointer;
        transition: abstracts.$btn-transition;

        &:hover{
          color: abstracts.$color-neutral-gray; 
        }
      }
  
  }
  
  .slider-arrow{
    position: absolute;
    display:grid;
    place-items:center;
    top: 0;
    color: abstracts.$color-neutral;
    
    font-size: 30px;
    padding: 1rem;
    height:100%;
    cursor: pointer;
    transition: abstracts.$btn-transition;

      &:hover{
        color: abstracts.$color-neutral-gray;
      }
      @include abstracts.respond-to('small'){
        font-size: 50px;
      }
  }
 
  .arrow-left{
    left:0;
  }
  .arrow-right{
    right:0;
  }
  
  .slide{
    place-items:center;
    background-position:center;
    background-size: cover;
    width:100%;
    height:abstracts.$hero-height;
    display: none;
    animation: fade-in 1s ease-in;
    

    &-active{
      display: grid;
    }

    & .slide-title{
      max-width: 25ch;
      font-size: 25px;
      margin-bottom: 0.25rem;
      text-align: center;
      color: abstracts.$color-neutral;
    }

    & img{
      position: absolute;
      height: 100%;
      width: 100%;
      object-fit: cover;
    }

    & .slide-content{
      position: absolute;
      display:grid;
      padding: 0 3.5rem;
      text-align: center;
        
        & p{
          color:abstracts.$color-neutral;
        }
    }

    @include abstracts.respond-to('small'){
      & .slide-title{
        font-size: 30px;
      }
      & .slide-content{
        padding: 0 5rem;

        & p{
          font-size: 20px;
        }
      }
    }

    @include abstracts.respond-to('medium'){
      & .slide-title{
        font-size: 38px;
      }
    }
  }
  
  .slide-darken{
    img{
      filter: brightness(70%);
    }
  }


  #matcha-slide .slide-content{
    @include abstracts.respond-to('large'){
      justify-self:start;
      margin-left: 8rem;
      max-width: 35ch;
      padding: 0;
    }
  }
