@use "../abstracts";

.wishlist-card {
    padding: 1rem;
    text-align: center;

    & h3 {
        font-size: 20px;
        max-width: 20ch;
        margin: 0 auto;
    }

    & .img-container {
        position: relative;
        margin: 0 auto;
        width: 200px;
        height: 200px;
        cursor: pointer;

        & img {
            @include abstracts.fit-image;
            transition: all 500ms ease-in;
        }

        &:hover img {
            filter: brightness(50%);
        }
        &:hover .remove-wishlist-item-btn {
            opacity: 1;
        }
    }
}

.remove-wishlist-item-btn {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    opacity: 0;
    color: abstracts.$color-neutral;
    font-size: 30px;
    margin: 0.5rem;
    cursor: pointer;
    transition: all 500ms ease-in;

    &:hover {
        transform: scale(1.2);
    }
}

@media (hover: none) {
    .remove-wishlist-item-btn {
        opacity: 1;
    }
}
